@import "Reset.css";
@import "toggler.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/*------// Termina import-------------------------------------------*/
body {
    font-family: 'Open Sans', sans-serif;
}

.menu {
    background-color: #4a4a4a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
}

.navbar__list {
    display: flex;
}

.navbar__list>li>a,
.dropdown__btn {
    color: white;
    text-decoration: none;
    justify-content: center;
    margin-right: 38px;
}

.search {
    color: #ffffff;
}

.search__input {
    width: 203px;
    height: 37px;
    border-radius: 4px;
    background-color: white;
    margin-right: 8px;
}

.search__button {
    width: 79px;
    height: 37px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffe55d;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 14px;
    margin-left:
}

.search__label {
    margin-top: 19px;
    margin-right: 16px;
    color: #cccccc;
}

/*-------------------//Termina header---------------------------*/
.intro {
    color: black;
    height: 382px;
    background-color: #efefef;
}

.container__heading {
    min-width: 372px;
    min-height: 73px;
    font-size: 62px;
    font-weight: 300;
    padding-top: 61px;
    margin-left: 95px;
    margin-bottom: 19px;

}

.container__text {
    height: 382px;
    width: 833px;
    height: 95px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 19px;
    margin-left: 97px;
    margin-bottom: 12px;
    color: #333333;
}

span {
    font-weight: bold;
}

.container__link {
    width: 193px;
    height: 57px;
    border-radius: 8px;
    background-color: #7ed321;
    padding: 15px 19px 18px;
    margin-top: 12px;
    margin-left: 96px;
    color: white;
    text-decoration: none;
}

/*--------------//Termina intro-------------------*/
.container-training {
    display: flex;
    align-items: center;
    padding: 64px 98px 69px 94px;
}

.col__training::after {
    content: "";
    display: block;
    clear: both;
}

.col__heading {
    margin-bottom: 20px;
}

.col__training {
    margin-right: 13px;
}

.col__img>.col__text {
    margin-right: 31px;
}

.col__heading a {
    min-width: 261px;
    height: 31px;
    font-size: 26px;
    font-weight: 300;
    color: #4a90e2;
}

.col__img {
    float: left;
    margin: 0 13px 7px 0;
}

.col__text {
    min-width: 288px;
    min-height: 116px;
    font-size: 16px;
    line-height: 1.69;
    color: black;
}

/*--------------------Termina training-----------------------*/
.spot {
    height: 557px;
    background-color: #e8f6fc;
}

.spot__container {
    display: flex;
}

.spot__heading {
    min-width: 268px;
    height: 31px;
    font-size: 26px;
    font-weight: 300;
    margin-top: 106px;
    margin-left: 32px;
    color: #4a4a4a;
}

.spot__text {
    width: 303px;
    height: 90px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 37px;
    margin-bottom: 37px;
    line-height: 1.69;
    float: left;
    color: black;
}

.spot__label {
    min-width: 196px;
    height: 27px;
    font-size: 16px;
    margin-top: 37px;
    margin-left: 34px;
    color: black;
}

.spot__control {
    min-width: 288px;
    min-height: 40px;
    border-radius: 8px;
    padding: 11px 88px 11px 13px;
    width: 177px;
    height: 18px;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 32px;
    display: block;
    color: #9b9b9b;
    background-color: white;
}

.spot__submit {
    min-width: 115px;
    min-height: 40px;
    border-radius: 8px;
    padding: 10px 15px 11px 16px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 24px;
    margin-left: 34px;
    display: block;
    color: white;
    background-color: #4a90e2;
}

.col__video {
    margin-top: 101px;
    margin-left: 308px;
    float: right;
}

.spot__email {
    display: inline-block;
}

/*---------------------------Termina spot----------------------*/
.service {
    padding: 83px 200px 106px 200px;
    text-align: center;
    background-color: white;
    display: block;
}

.service__heading {
    min-width: 447px;
    min-height: 40px;
    font-size: 34px;
    font-weight: 300;
    padding-bottom: 28px;
    color: #4a4a4a;
}

.service__text {
    margin-bottom: 13px;
    font-size: 16px;
    line-height: 1.69;
    padding-bottom: 13px;
    color: black;
}

.service__link {
    min-width: 177px;
    min-height: 40px;
    border-radius: 8px;
    width: 97px;
    height: 19px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 34px 11px 46px;
    color: white;
    background-color: #4a90e2;
}

/*-----------------------Termina service-----------------------*/
.site-footer {
    height: 116px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.list__footer {
    display: flex;
    width: 38px;
    height: 18px;
}

.list__footer a {
    text-decoration: none;
    font-size: 16px;
    color: #4a90e2;
}

li>a {
    margin-right: 38px;
}

.footer__text {
    min-width: 111px;
    min-height: 16px;
    margin-right: 96px;
    font-size: 14px;
    color: #4a4a4a;
}

.list__footer {
    margin-left: 97px;
}

/*-----------------------------Termina footer-------------------------------*/